<%- include ('partials/header.ejs'); %>

<body>
  <%- include ('partials/navbar.ejs'); %>
  <div class="container">
    <% function formatarData(data) { %> <% const dataFormatada = new Date(data);
    %> <% const options = { year: 'numeric', month: 'long', day: 'numeric',
    hour: '2-digit', minute: '2-digit', second: '2-digit' }; %>
    <br />
    <% return dataFormatada.toLocaleDateString('pt-BR', options); %> <% } %>
    <br />
    <h2><%= pergunta.titulo %></h2>
    <p><%= pergunta.descricao %></p>
    <hr />
    <form method="POST" action="/responder">
      <input
        type="text"
        placeholder="Seu Nome"
        class="form-control"
        name="nome"
      />
      <textarea
        placeholder="Digite sua resposta"
        class="form-control"
        name="corpo"
        rows="4"
      ></textarea>
      <input type="hidden" name="pergunta" value="<%= pergunta.id %>" />
      <button type="submit" class="btn btn-dark">Responder</button>
    </form>
    <hr />
    <h3>Respostas</h3>
    <% respostas.forEach(resposta => { %>
    <br />
    <div class="card">
      <div class="card-body">
        <span class="name"><%= resposta.nome %></span>
        <span class="time"><%= formatarData(resposta.createdAt) %></span>
        <p class="titulo"><%= resposta.corpo %></p>
      </div>
    </div>
    <% }) %>
  </div>
</body>

<%- include ('partials/footer.ejs'); %>
